{extend name='public/base' /}

{block name='seo'}
<title>{$title|default='研究成果'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">
{/block}

{block name='content'}
<div class="container" style="width: 960px; background-color: white; min-height: 600px;">
	<div class="MyPage">
		<div class="mt-15">
			<h5>Recent publications (2018 – present)</h5>
			<p><a href="#2019">2019</a>/<a href="#2018">2018</a>/<br></p>
			<p><span style="font-family: Arial;"><span style="color: #808080;"><span style="font-size: 200%;"><strong><a name="2019"></a>2019</strong></span></span></span></p>
			<p class="to_top">[ <a href="#top">回顶部</a> ]</p>
			<br class="clear">
		</div>
	</div>
</div>
{/block}

{block name='js'}
<script type="text/javascript">
$("#production").attr('class', 'active');
</script>
{/block}
