{extend name='public/base'/}
{block name='header'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content'}
<article class="cl pd-20">

	<form action="" method="post" class="form form-horizontal" id="form-resource-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>文件名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input  type="text" class="input-text disabled" value="{$resource_info.filename}" placeholder="" id="author" name="author">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>作者：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input  type="text" class="input-text" value="{$resource_info.author}" placeholder="" id="author" name="author">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>标签：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input class="btn btn-primary size-MINI radius" type="button" value="&nbsp;添加标签&nbsp;" id="addLabel" >	
				<div class="label_add">{$label_list}</div>
			</div>
			<input type="hidden" id="lbl_num" name="lbl_num" value="0">
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">来源：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input  type="text" class="input-text" value="{$resource_info.source}" placeholder="" id="source" name="source">
			</div>
		</div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">所属分类：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
				<span class="select-box" style="width:150px;">
					<select class="select" name="category" id="category" size="1" onChange="getCateDtl(this)">
						{volist name="cateList" id="vo"}
						{if condition="$vo['id'] eq $resource_info['category']"}
						<option value="{$vo.id}" selected>{$vo.category}</option>
						{else /}
						<option value="{$vo.id}">{$vo.category}</option>
						{/if}
						{/volist}
					</select>
				</span>
				&nbsp;&nbsp;
				<span class="select-box" style="width:150px;">
					<select class="select" name="cat_dtl" id="cat_dtl" size="1">
						{volist name="cateDtlList" id="vo"}
						{if condition="$vo['id'] eq $resource_info['cate_dtl']"}
						<option value="{$vo.id}" selected>{$vo.cat_dtl}</option>
						{else /}
						<option value="{$vo.id}">{$vo.cat_dtl}</option>
						{/if}
						{/volist}
					</select>
				</span>
            </div>
        </div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea type="text" class="textarea radius" placeholder="请输入描述信息..." id="description" name="description"></textarea>
			</div>
		</div>	
		<!--将当前记录的id做为隐藏域发送到服务器-->
		<input type="hidden" value="{$resource_info.id}" name="id">
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" id="submit" >
			</div>
		</div>
	</form>
</article>
{/block}

{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>


<script>
var label_num = {$num};
document.getElementById("description").value="{$resource_info.description}";
//添加标签
$('#addLabel').click(function(){
	label_num ++;
	document.getElementById("lbl_num").value=label_num;
	$(".label_add").append('<input  type="text" class="input-text size-MINI" style="width:100px;" placeholder="标签'+label_num+'" id="lbl'+label_num+'" name="lbl'+label_num+'">');
});
function getCateDtl(obj) 
{
	var id = $(obj).val();
	$.ajax({
		type: "POST",  
		url: "{:url('getCateDtl')}",  
		data: {"id": id},
		success: function(data){
			var html = "";
			let temp = eval(data);
			for (var i = 0; i < temp.length; i ++)
			{
				html += "<option value=\""+temp[i]['id']+"\" selected>"+temp[i]['cat_dtl']+"</option>";
			}
			$("#cat_dtl").html(html);
		}
	});
}
$(function(){
	$("#submit").on("click", function(event){
		$.ajax({
			type: "POST",
			url: "{:url('admin/resource/editResource')}",
			data: $("#form-resource-add").serialize()+'&'+$.param({"lbl_num" : label_num}),
			dataType: "json",
			success: function(data){
					alert(data.message);
			}
		});
	})
});
</script>
{/block}

</body>
</html>