{extend name='public/base' /}

{block name='seo'}
<title>{$title|default='资源共享'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">
<style>
#forTab>ul>li>a {
	padding: 5px 10px;
}
</style>
{/block}

{block name='content'}
<div class="container" style="width: 960px; background-color: white; min-height: 700px;">
	<br />
	<div class="mt-5">
	 <form action="{:url('download/searchResByLabels#toTop')}" method="post" id="_form">
		<div id="forTab" class="text-c">
			日期范围：
			<input type="text" name="logmin" id="logmin" onfocus="WdatePicker({maxDate:'#F{ $dp.$D(\'logmax\')||\'%y-%M-%d\' }'})" class="input-text Wdate" style="width:100px;" value="{$logmin}" />
			-
			<input type="text" name="logmax" id="logmax" onfocus="WdatePicker({minDate:'#F{ $dp.$D(\'logmin\') }',maxDate:'%y-%M-%d'})" class="input-text Wdate" style="width:100px;" value="{$logmax}" />
			<span class="select-box inline">
			<select name="selected" class="select">
				<option value="%" <?php if ($selected == '%') echo 'selected'?>>全部</option>
				<option value="1" <?php if ($selected == '1') echo 'selected'?>>资源名称</option>
				<option value="2" <?php if ($selected == '2') echo 'selected'?>>来源</option>
				<option value="3" <?php if ($selected == '3') echo 'selected'?>>作者</option>
				<option value="4" <?php if ($selected == '4') echo 'selected'?>>上传者</option>
			</select>
			</span>
			<input type="text" name="keywords" id="" placeholder=" 搜索内容" style="width:160px" class="input-text" value="{$keywords}" />
			<a name="" id="" class="btn btn-success" onclick='getAjaxData()'><i class="Hui-iconfont">&#xe665;</i> 搜资源</a>
			<br />
			<br />
			{$cate}
			<input type="hidden" id="provSelect" name="provSelect" value="%" />
			<span class="l">
			<a href="javascript:;" onclick="datadownload()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe641;</i> 批量下载</a>
			<a href="javascript:;" onclick="addfile('资源信息','{:url("download/fileAdd")}','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe642;</i> 上传资源</a> 
			</span>
		</div>
	</form>
	</div>
	<div class="mt-5" id='table-mt5' style="padding-bottom: 60px;">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="40"><input type="checkbox" id = "allChecks" name="" value="" onclick="ckAll()"></th>
					<th width="50">ID</th>
					<th width="130">资源名称</th>
					<th width="130">来源</th>
					<th width="200">标签</th>
					<th width="100">上传时间</th>
					<th width="60">操作</th>
				</tr>
			</thead>
			<tbody>
			{volist name="arrylist" id="vo"}
				<tr class="text-c">
					<td><input type="checkbox" value="{$vo.filename}.{$vo.filetype}" name="check"></td>
					<td>{$vo.id}</td>
					<td><a class="size-MINI" data-toggle="tooltip" data-placement="right" title="{$vo.description}">{$vo.filename}</a></td>
					<td>{$vo.source}</td>
					<td>{$vo.labels}</td>
					<td>{$vo.uploadtime}</td>
					<td><a title="下载" href="downloadfile?filename=upload/{$vo.filename}.{$vo.filetype}" class="text-decoration:none"><i class="Hui-iconfont">&#xe640;</i></a>&nbsp;&nbsp;<a title="预览" href="javascript:;" onclick="Media('资料预览','/index/download/media/fileName/{$vo.filename}/fileType/{$vo.filetype}','1','900','600')" class="text-decoration:none"><i class="Hui-iconfont">&#xe695;</i></a>
					</td>
				</tr>
			{/volist}
			</tbody>
		</table>
		<form action="" method="post" id="downloadfilesform" style="display:none">
			<input type="hidden" name="files" id="downloadfilesfiles" value="upload/tmp.zip" />
		</form>
	</div>
</div>
{/block}

{block name='js'}
<script type="text/javascript">
$("#download").attr('class', 'active');
function Media(title,url,fileName,w,h){
    $.get(url,{fileName:fileName});
	layer_show(title,url,w,h);
}
var myArray=new Array();

$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": false,//状态保存
	"searching": false,//是否显示查询
    "lengthChange": false,//是否使用下位列表选择分页大小	
	"iDisplayLength": 15,
	"aoColumnDefs": [
		//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		{"orderable":false,"aTargets":[0, 6]}// 不参与排序的列
	]
});

function ckAll(){
	var flag=document.getElementById("allChecks").checked;
	var cks=document.getElementsByName("check");
	for(var i=0;i<cks.length;i++){
		cks[i].checked=flag;
	}
}
function datadownload(){
	var cks=document.getElementsByName("check");
	var myarray=new Array();
	var index = 0;
	for(var i=cks.length-1; i>=0; i--){
		if(cks[i].checked==true){
			myarray[index ++] = cks[i].value;
		}
	}
	$.ajax({
		type: "POST",  
		url: "{:url('downloadfiles')}",  
		data: {"id": myarray},
		success: function(msg){
			window.open("downloadfile?filename=upload/tmp.zip");
		}
	});
}
function addfile(title,url,w,h)
{
	$.post(url);
	layer_show(title,url,w,h);
}

function clickDtl(obj, id, name){
	var pid = $(obj).parent().parent().parent().attr('id');
	var len = myArray.length;
	for (j = 0; j < len; j++) {
		var Pid = $("#"+myArray[j]).parent().parent().parent().attr('id');
		if (pid != Pid)
		{
			$("#"+myArray[j]).attr("type", "0");
			$("#"+myArray[j]).attr("class", "btnUnclick");
			len --;
			myArray.splice(j --, 1);
		}
	} 
	var option = $(obj).attr("type");
	if (option == 1)
	{
		myArray.splice($.inArray(id, myArray), 1);
		$(obj).attr("type", "0");
		$(obj).attr("class", "btnUnclick");
	}
	else 
	{
		if (jQuery.inArray(id, myArray) == -1)
			myArray.push(id);
		$(obj).attr("type", "1");
		$(obj).attr("class", "btnClick");
	}
	getAjaxData();
}

function getAjaxData(){
	$.ajax({
		type: "POST",
		url: "{:url('ajaxSearchresbyCates')}",
		data: $('#_form').serialize()+'&'+$.param({"cates" : myArray}),
		dataType: 'json',
		success: function(data){
			let temp = eval(data);
			let html ="<table class='table table-border table-bordered table-bg table-hover table-sort'><thead><tr class='text-c'><th width='40'><input type='checkbox' id = 'allChecks' name='' value='' onclick='ckAll()'></th><th width='50'>ID</th><th width='130'>资源名称</th><th width='130'>来源</th><th width='200'>标签</th><th width='100'>上传时间</th><th width='60'>操作</th></thead><tbody>";
			let endHtml = "</tbody></table><form action='' method='post' id='downloadfilesform' style='display:none'><input type='hidden' name='files' id='downloadfilesfiles' value='upload/tmp.zip' /></form>";
			for(var i = 0; i < temp.length; i ++){
				let tempHtml = 
				"<tr class='text-c'><td><input type='checkbox' value='"+temp[i]["filename"]+temp[i]["filetype"]+"' name='check'></td><td>"+temp[i]['id']+"</td><td><a class='size-MINI' temp-toggle='tooltip' temp-placement='right' title='"+temp[i]["description"]+"'> "+temp[i]["filename"]+"</a></td><td>"+temp[i]["source"]+"</td><td>"+temp[i]["labels"]+"</td><td>"+temp[i]["uploadtime"]+"</td><td><a title='下载' href='downloadfile?filename=upload/"+temp[i]["filename"]+temp[i]["filetype"]+"' class='text-decoration:none'><i class='Hui-iconfont'>&#xe640;</i></a>&nbsp;&nbsp;<a title='预览' href='javascript:;' onclick=\"Media('资料预览','/index/download/media/fileName/"+temp[i]["filename"]+"/fileType/"+temp[i]["filetype"]+"','1','900','600')\" class='text-decoration:none'><i class='Hui-iconfont'>&#xe695;</i></a></td></tr>";
				html+=tempHtml;
			}
			
			html +=endHtml;
			
			$('#table-mt5').html(html);
			$('.table-sort').dataTable({
				"aaSorting": [[ 1, "desc" ]],//默认第几个排序
				"bStateSave": false,//状态保存
				"searching": false,//是否显示查询
				"lengthChange": false,//是否使用下位列表选择分页大小
				"iDisplayLength": 15,
				"aoColumnDefs": [
					{"orderable":false,"aTargets":[0, 6]}// 不参与排序的列
				]
			});

		}
	});
};
</script>
{/block}