{extend name='public/base'/}
{block name='header'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content'}
<article class="cl pd-20">

	<form action="{:url("admin/member/editMember")}", method="post" enctype="multipart/form-data" target="nm_iframe" class="form form-horizontal" id="form-member-edit">
		<div class="row cl">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input  type="text" class="input-text" value="{$member_info.name}" placeholder="" id="name" name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名拼音：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input  type="text" class="input-text" value="{$member_info.spell}" placeholder="" id="spell" name="spell">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">学历：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:100px;">
				<select class="select" name="education" size="1">
					<option value="0"<?php if($member_info['education'] == 0){echo 'selected="selected"';} ?>>本科生</option>
					<option value="1"<?php if($member_info['education'] == 1){echo 'selected="selected"';} ?>>硕士生</option>
					<option value="2"<?php if($member_info['education'] == 2){echo 'selected="selected"';} ?>>副教授</option>
					<option value="3"<?php if($member_info['education'] == 3){echo 'selected="selected"';} ?>>教授</option>
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">性别：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:50px;">
				<select class="select" name="sex" size="1">
					<option value="0"<?php if($member_info['sex'] == 0){echo 'selected="selected"';} ?>>男</option>
					<option value="1"<?php if($member_info['sex'] == 1){echo 'selected="selected"';} ?>>女</option>
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>专业年级：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input  type="text" class="input-text" value="{$member_info.grade}" placeholder="" id="grade" name="grade">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>研究方向：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input  type="text" class="input-text" value="{$member_info.direction}" placeholder="" id="direction" name="direction">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">联系方式</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input  type="text" class="input-text" value="{$member_info.contact}" placeholder="" id="contact" name="contact">
			</div>
		</div>			
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>图片选择：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="btn-upload form-group">
				  <input class="input-text upload-url radius" type="text" name="uploadfile-1" id="uploadfile-1" readonly><a href="javascript:void();" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe642;</i> 浏览图片</a>
				  <input type="file" accept="image/*" multiple name="myFile" class="input-file">
				</span>
			</div>
		</div>	
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">简介：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea type="text" class="textarea radius" placeholder="请输入简介信息..." id="intro" name="intro"></textarea>
			</div>
		</div>	
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">兴趣爱好：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea type="text" class="textarea radius" placeholder="请输入兴趣爱好..." id="hobbies" name="hobbies"></textarea>
			</div>
		</div>	
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">个人成就：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea type="text" class="textarea radius" placeholder="请输入个人成就..." id="achievement" name="achievement"></textarea>
			</div>
		</div>	
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" id="submit" >
			</div>
		</div>
		<input type="hidden" value="{$member_info.id}" name="id">
	</form>
	<iframe id="id_iframe" name="nm_iframe" style="display:none;"> </iframe>
</article>
{/block}

{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script>
document.getElementById("intro").value="{$member_info.intro}";
document.getElementById("hobbies").value="{$member_info.hobbies}";
document.getElementById("achievement").value="{$member_info.achievement}";
</script>
{/block}

</body>
</html>